html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Carrito */
.oculto {
  display: none;
}

.centrado {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo {
  padding: 1.4rem 0;
}

header .logo a {
  text-decoration: none;
  color: #000000;
}

.carrito-compras {
  position: relative;
}

.carrito-compras:hover .contenido {
  display: block;
  position: absolute;
  right: 0;
  background-color: #f2f2f2;
  padding: 1rem;
  max-width: 400px;
}

.carrito-compras:hover .contenido img {
  max-width: 150px;
}

.carrito-compras:hover .contenido .boton {
  background-color: #33c3f0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 28rem;
  background-size: cover;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.hero .contenido-hero {
  padding: 0.5rem;
  margin-top: 3rem;
  flex: 1;
}

.hero .contenido-hero h2 {
  font-weight: 400;
  font: 2.4rem;
}

.hero .contenido-hero p {
  font-size: 1.2rem;
}

.hero .contenido-hero form {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .hero .contenido-hero form {
    width: 40%;
  }
}

.hero .contenido-hero form input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/lupa.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 3rem;
  height: 3rem;
  display: block;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}

.hero .contenido-hero form input[type="text"] {
  width: 100%;
  height: 3rem;
}

.barra {
  min-height: 6rem;
  padding: 1rem;
  background: linear-gradient(to right, #741d51 0%, #e44e52 100%);
  color: #fff;
  display: flex;
  align-items: center;
}

.barra .iconos {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .barra .iconos {
    flex-direction: row;
  }
}

.barra .iconos .icono {
  flex: 1;
  background-position: 5% center !important;
  background-size: 2.5rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .barra .iconos .icono {
    background-position: 20% center !important;
  }
}

@media only screen and (min-width: 1024px) {
  .barra .iconos .icono {
    background-position: left center !important;
  }
}

.barra .iconos .icono.icono1 {
  background-image: url("../img/icono1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.barra .iconos .icono.icono2 {
  background-image: url("../img/icono2.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.barra .iconos .icono.icono3 {
  background-image: url("../img/icono3.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cursos .curso {
  margin-bottom: 1rem;
  flex: 0 1 calc(100% - 1rem);
  border: 1px solid #d9d9d9;
}

.cursos .curso .imagen-curso {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .cursos .curso {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media only screen and (min-width: 768px) {
  .cursos .curso {
    flex: 0 1 calc(33% - 1rem);
  }
}

@media only screen and (min-width: 1024px) {
  .cursos .curso {
    flex: 0 1 calc(25% - 1rem);
  }
}

.info-curso {
  padding: 1rem;
}

.info-curso h4 {
  margin: 0;
  font-size: 1.2rem;
}

.info-curso .precio {
  display: flex;
  justify-content: space-between;
}

.info-curso .precio .regular {
  text-decoration: line-through;
  color: red;
}

.info-curso .precio .oferta {
  font-size: 1.6rem;
  font-weight: 700;
  color: greenyellow;
}

.info-curso .boton {
  background-color: #741d51;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.footer {
  border: 1px solid #d9d9d9;
  margin-top: 1rem;
  padding-top: 2rem;
}

.footer .container-footer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 480px) {
  .footer .container-footer {
    flex-direction: row;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex: 1;
}

@media only screen and (min-width: 1024px) {
  .menu {
    flex: 0 1 calc(30% - 1rem);
  }
}

.menu a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

/* showing */
.select_content {
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.select-parent {
  display: flex;
  justify-content: flex-end;
  order: 2;
}

#select {
  border: 0;
  height: 50px;
  background-color: rgb(216, 216, 216);
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
  #select {
    padding: 0.2rem;
    height: 30px;
  }
}

/* SPIN */
.text-center {
  text-align: center;
}
.none-element {
  display: none !important;
}
#loading-spinner {
  display: inline;
  position: relative;
  z-index: 999999;
  width: 100%;
}

#loading-spinner .spin-icon {
  margin: auto;
  width: 80px;
  height: 80px;

  border: solid 3px transparent;
  border-top-color: #666;
  border-left-color: #666;
  border-radius: 80px;

  -webkit-animation: loading-spinner 500ms linear infinite;
  -moz-animation: loading-spinner 500ms linear infinite;
  -ms-animation: loading-spinner 500ms linear infinite;
  -o-animation: loading-spinner 500ms linear infinite;
  animation: loading-spinner 500ms linear infinite;
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loading-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes loading-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes loading-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* pagination */
.paginate{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn-page {
  border: none;
  background-color: #af8705;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
